
<div class="card">

    <div class="card-header">
        <form class='form-inline' action="" method='GET'>

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-sort" aria-hidden="true"></i>
                        </div>
                    </div>
                    <select name="sort_by" class='form-control'>
                        <option value="">Sort by</option>
                        <option {{ if matchstring .Params.SortBy "pop" }} selected {{end}} value="pop">Most Popular</option>
                        <option {{ if matchstring .Params.SortBy "top" }} selected {{end}} value="top">Top Rated</option>
                        <option {{ if matchstring .Params.SortBy "low" }} selected {{end}} value="low">Lowest Price</option>
                        <option {{ if matchstring .Params.SortBy "hig" }} selected {{end}} value="hig">Highest Price</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">£</div>
                    </div>
                    <input type="number" min="0.01" step="0.01" max="2500" name="min" class='form-control' placeholder='Min' value='{{ .Params.Min }}'>
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">£</div>
                    </div>
                    <input type="number" min="0.01" step="0.01" max="2500" name="max" class='form-control' placeholder='Max' value='{{ .Params.Max}}'>
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </div>
                    </div>
                    <input name='query' type="text" class='form-control' placeholder="Search..." value='{{ .Params.Query }}'>
                </div>
            </div>

            <div class="form-group">
                <input class='form-control btn btn-success' type="submit">
            </div>
        </form>
    </div>
    <div class="card-body">

        <div class="card-text">

            <div class="list-group">

                {{ if .Products }}
                    {{ range .Products }}

                        <a
                            href="/products/{{ .Id }}"
                            class="list-group-item list-group-item-action flex-column align-items-start"
                        >
                            <div class="d-flex w-100 justify-content-between">
                            <img
                                style='max-height:100px'
                                src="{{ .ImagePath }}"
                                class='img-responsive'
                            />
                            <h5 class="mb-1">{{ .Name }}</h5>
                            <h3>
                                <strong>
                                    {{ formattedCost .Cost }}
                                </strong>
                            </h3>
                            </div>
                            <p class="mb-1">{{ .ShortDescription }}.</p>
                            <small>{{ companyName .Id }}.</small>
                            <div class="float-right">
                                Average Rating: {{ productReview .Id }}
                            </div>
                        </a>

                    {{end}}

                {{else}}
                    <p>There are no products currently available.</p>
                {{end}}

            </div>

        </div>
    </div>
    <div class="card-footer">

        {{if .Products}}

            <div class="float-left">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                            <a
                                {{ if shouldDisableLessPage .Page }} style="pointer-events:none" {{end}}
                                class="page-link"
                                href="/products/?page={{ getLessPage .Page }}"
                                aria-label="Previous"
                            >
                            <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a style="{{ if shouldDisablePrevPage .Page }} display:none; {{end}}" class="page-link" href="/products/?page={{ getPrevPage .Page }}">{{ getPrevPage .Page }}</a></li>
                        <li class="page-item active"><a class="page-link" href="/products/?page={{ .Page }}">{{ .Page }}</a></li>
                        <li class="page-item"><a style="{{ if shouldDisableNextPage .Page .PageCount }} display:none; {{end}}" class="page-link" href="/products/?page={{ getNextPage .Page }}">{{ getNextPage .Page }}</a></li>
                        <li class="page-item">
                            <a
                                {{ if shouldDisableMorePage .Page .PageCount }} style="pointer-events:none" {{end}}
                                class="page-link"
                                href="/products/?page={{ getMorePage .Page }}"
                                aria-label="Next"
                            >
                            <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        </ul>
                    </nav>
            </div>

            <div class="float-right">
                Showing 7 of {{ .TotalRecords }}
            </div>

        {{end}}
    </div>
</div>

