<div class="list-group">

    {{if .Products}}
        {{range .Products}}

            <a
                href="/products/{{ .Id }}"
                class="list-group-item list-group-item-action flex-column align-items-start"
            >
                <div class="d-flex w-100 justify-content-between">
                <img
                    style='max-height:100px'
                    src="{{ .ImagePath }}"
                    class='img-responsive'
                />
                <h5 class="mb-1">{{ .Name }}</h5>
                <h3>
                    <strong>
                        {{ formattedCost .Cost }}
                    </strong>
                </h3>
                </div>
                <p class="mb-1">{{ .ShortDescription }}.</p>
                <small>{{ companyName .Id }}.</small>
                <div class="float-right">
                    Average Rating: {{ productReview .Id }}
                </div>
            </a>

        {{end}}
    {{else}}
        <p>No products available.</p>
    {{end}}

    {{if .Products}}

        <div class="mx-auto" style="margin-top:20px;">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                    <a
                        {{ if shouldDisableLessPage .Page }} style="pointer-events:none" {{end}}
                        class="page-link"
                        href="/?page={{ getLessPage .Page }}"
                        aria-label="Previous"
                    >
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item"><a style="{{ if shouldDisablePrevPage .Page }} display:none; {{end}}" class="page-link" href="/?page={{ getPrevPage .Page }}">{{ getPrevPage .Page }}</a></li>
                  <li class="page-item active"><a class="page-link" href="/?page={{ .Page }}">{{ .Page }}</a></li>
                  <li class="page-item"><a style="{{ if shouldDisableNextPage .Page .PageCount }} display:none; {{end}}" class="page-link" href="/?page={{ getNextPage .Page }}">{{ getNextPage .Page }}</a></li>
                  <li class="page-item">
                    <a
                        {{ if shouldDisableMorePage .Page .PageCount }} style="pointer-events:none" {{end}}
                        class="page-link"
                        href="/?page={{ getMorePage .Page }}"
                        aria-label="Next"
                    >
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
            </nav>
        </div>

    {{end}}

</div>

<br/>
